@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

Bootstrap 4 Example 
<BSButton Color ="Color.Secondary"> Primary </BSButton>
<BSButton Color="Color.Link"> Primary </BSButton>
<SurveyPrompt Title="How is Blazor working for you?" />
